*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    
}

h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    
}
