* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: #FEC2E6;
}

h1 {
    color: #4616D5;
    padding: 20px;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}

img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;

}

.main {
    margin: 30px;
}

.michis-title_section {
    color: #62FFC9;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: 400;
    margin: 20px;
    background: rgb(254, 194, 230);
    background: -moz-linear-gradient(270deg, rgba(254, 194, 230, 1) 0%, rgba(30, 22, 208, 1) 34%, rgba(254, 194, 230, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(254, 194, 230, 1) 0%, rgba(30, 22, 208, 1) 34%, rgba(254, 194, 230, 1) 100%);
    background: linear-gradient(270deg, rgba(254, 194, 230, 1) 0%, rgba(30, 22, 208, 1) 34%, rgba(254, 194, 230, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec2e6", endColorstr="#fec2e6", GradientType=1);
}

.uploading__michi--label {
    margin: 10px;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(2, 14, 18);
    /* border: black 1px solid; */
    border-radius: 20px;
    /* background-color: rgb(227, 28, 28); */
    text-align: center;
}

.main-section__images--michis {
    width: 100%;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-image__container--group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.section__btn--style {
    font-size: 30px;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
    border: 0;
    border-radius: 50px;
}



.btn__class {
    font-size: 18px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(183, 228, 228);
    cursor: pointer;
    transition: all 1s ease;
}

#uploadingMichi {
    width: min-content;
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#uploadingForm {
    display: flex;
    flex-direction: column;
}

#img-error {
    width: 100%;
    height: 100%;
}

#Error {
    font-size: 20px;
    font-weight: 400;
    color: rgb(24, 9, 190);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-container_michis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.section__btn--style:hover {
    top: 15px;
    right: 15px;
    font-size: 50px;
    transition: all 0.2s ease;
}

.btn__class:hover {
    background-color: blue;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}