*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    
}
html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    
}

h1{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
    
}

.main {
    margin: 30px;
}

.michis-title_section {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin: 20px;
}

.uploading__michi--label {
    margin: 10px;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(2, 14, 18);
    /* border: black 1px solid; */
    border-radius: 20px;
    /* background-color: rgb(227, 28, 28); */
    text-align: center;
}
.main-section__images--michis {
    width: 100%;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-image__container--group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.section__btn--style {
    font-size: 30px;
    padding: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
    border: 0;
    border-radius: 50px;
}



.btn__class {
    font-size: 18px;
    font-weight: 600;
    border: 1px solid ;
    border-radius: 15px;
    padding:10px;
    background-color: rgb(183, 228, 228);
    cursor: pointer;
}

#uploadingMichi{
    width: min-content;
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#uploadingForm {
    display: flex;
    flex-direction: column;
}

#img-error {
    width: 100%;
    height: 100%;
}

#Error {
    font-size: 20px;
    font-weight: 400;
    color: rgb(24, 9, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-container_michis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.section__btn--style:hover {
    background-color: gold;
    font-size: 40px;
}

.btn__class:hover {
    background-color: blue;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

